# working environment
.idea
tilewall.ts.iml

# npm
node_modules

#jspm
jspm_packages

# gulp

# generated sources
demo/assets/*.js
demo/assets/*.css
tilewall.js
tilewall.contracts.js
tilewall.helper.js
demo/definitions
*.d.ts
*.js.map
npm-debug.log
typings/**/*.json
